<div class="jumbotron align-middle">
    <h1 class="display-3">ComicColl</h1>
    <p class="lead">Welcome to ComicColl. A place to share your Comic Collection.</p>
    <hr class="my-4">
    <p>Let's get started!</p>
    <p class="lead">
        <a role="button"><%= link_to 'Log In', new_session_path, class: 'btn btn-primary btn-lg' %></a>
        <a role="button"><%= link_to 'Sign Up', new_user_path, class: 'btn btn-primary btn-lg' %></a>
    </p>
</div>