<h1>Hello, <%= current_user.name %></h1>

<div>
    <h2>My Wishlist:</h2>
    <% @comics.each do |c| %>
        <a><%= c.title %></a>
    <% end %>
    <br />
    <%= link_to 'Add Comic', new_comic_path, class:'btn btn-secondary' %>
</div>