@import "bootstrap";

/***************
Index Page Styles
***************/
.body-index {
    background-image: url(image-path('comics.jpg'));
    background-size: cover;
  }

.jumbotron {
    h1, p {
        text-align: center;
    }

    background: rgba(224, 224, 224, 0.5);

    margin-top: 10%;
}

/***************
Form Styles
***************/

.center {
    margin: 0 auto;
}

/***************
Card Styles
***************/
h4 {
    color: white;
    background: rgba(224, 224, 224, 0.7);
    border-radius: 5%;
    color: #2B2A33;
    font-size: 1.2em;
    padding: 1rem 0;
}

.card-img-overlay {
    padding: 7rem 0;
}